.remnantResult {
  width: 640px;
  height: 300px;
  horizontal-align: center;
  vertical-align: center;
  border-radius: 20px;
}

.remnantResult__title {
  font-size: 56px;
  horizontal-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 8px;
  margin-top: 20px;
}

.remnantResult__controls {
  vertical-align: bottom;
  horizontal-align: center;
  width: fit-children;
  flow-children: right;
}

.remnantResult__score {
  vertical-align: center;
  horizontal-align: center;
  font-size: 66px;
  color: #fff;
}

.remnantResult__controls > TextButton {
  margin: 20px 10px;
}